:root {
    --color-primary: #e11b1e;
    --color-primary-dark: #bd1015;
    --color-bg-light: #ffe8e8;
    
    --color-text: #374151;
    --color-helper: #6b7280;
    --color-border: #e5e7eb;

    --font-body: "Roboto", "Helvetica Neue", Arial, sans-serif;
    --font-heading: "Poppins", "Helvetica Neue", Arial, sans-serif;

    --radius-lg: 12px;
    --shadow-sm: 0 1px 2px rgb(0 0 0 / 4%);
}
